<% layout("./layouts/boilerplate") %>

<!-- SHOW CARD -->

<body>
  <div class="show">
    <div class="show-card d-flex offset-1" style="width: 80%">
      <div class="card-image" style="width: 50%">
        <img src="<%= place.image.url %>" class="card-img" alt="" />
      </div>
      <div class="show-body p-4" style="width: 50%">
        <div class="">
          <h2 class="card-title mb-2"><%= place.name %></h2>
          <p class="card-text"><%= place.description %></p>
        </div>
        <div class="div">
          <% if(currUser){ %> <% if(currUser.username === "admin"){ %>

          <a href="/places/<%= place._id %>/edit" class="btn btn-primary mb-2"
            >EDIT</a
          >
          <a onclick="addSite()" class="btn btn-primary mb-2">ADD SITE</a>
          <a onclick="addadv()" class="btn btn-primary mb-2">ADD Adventure</a>
          <form
            method="post"
            action="/places/<%= place._id %>/?_method=DELETE  "
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %> <% } %>
        </div>
      </div>
    </div>

    <!-- SITES -->

    <% if(place.sites.length > 0){ %>
    <h1 class="home-text mt-5">Visit Sites in <%= place.name %></h1>
    <% } %>

    <div
      class="show-sites offset-1 gap-4 row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mb-5"
    >
      <% for(let site of place.sites){ %>
      <div class="site-card col">
        <img
          class="site-img"
          src="<%= site.siteurl %>"
          alt="Site image not found"
        />
        <h4 class="site-text"><%= site.sitename %></h4>
        <% if(currUser){ %> <% if(currUser.username === "admin"){ %>

        <form
          method="post"
          action="/places/<%= place._id %>/site/<%= site._id %>/?_method=DELETE"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %> <% } %>
      </div>
      <% } %>
    </div>

    <!-- Adventures -->

    <% if(place.adventures.length > 0){ %>
    <h1 class="home-text mt-5">Adventures in <%= place.name %></h1>
    <% } %>

    <div
      class="show-sites offset-1 gap-4 row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mb-5"
    >
      <% for(let adv of place.adventures){ %>
      <div class="site-card col">
        <img
          class="site-img"
          id="imgg"
          name="<%= adv.adventurename %>"
          src="<%= adv.adventureurl %>"
          alt="Adv image not found"
        />
        <h4 class="site-text"><%= adv.adventurename %></h4>
        <% if(currUser){ %> <% if(currUser.username === "admin"){ %>

        <form
          method="post"
          action="/places/<%= place._id %>/adventure/<%= adv._id %>/?_method=DELETE"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %> <% } %>
      </div>
      <% } %>
    </div>
  </div>

  <!-- ADDIGN SITES -->

  <div class="siteform formcss">
    <i class="fa-solid fa-x cross"></i>
    <form
      method="post"
      action="/places/<%= place._id %>/site"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="sitename" class="form-label">Site Name</label>
        <input
          type="text"
          class="form-control"
          name="sites[sitename]"
          required
        />
      </div>
      <div class="mb-3">
        <label for="siteimage" class="form-label">Upload Site Image</label>
        <input
          type="file"
          class="form-control"
          name="sites[siteimage]"
          required
        />
      </div>
      <button class="btn btn-primary">ADD PLACE</button>
    </form>
  </div>

  <!-- ADDING ADVENTURE -->

  <div class="formcss advform">
    <i class="fa-solid fa-x cros"></i>
    <form
      method="post"
      action="/places/<%= place._id %>/adventure"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="adventurename" class="form-label">Adventure Name</label>
        <input
          type="text"
          class="form-control"
          name="adventures[adventurename]"
          required
        />
      </div>
      <div class="mb-3">
        <label for="adventurename" class="form-label">Adventure Image</label>
        <input
          type="file"
          class="form-control"
          name="adventures[adventureimage]"
          required
        />
      </div>
      <button class="btn btn-primary">ADD PLACE</button>
    </form>
  </div>
  <script src="/js/show.js"></script>
</body>
